body{
    margin-left:20%;
    width:60%;
}
.title{
    /*margin-left:25%;*/
}
.tool-icon{
    font-size:36pt;
    padding:10px;
}
.tool-bar{
    width:200%;
    /*margin-left:-50%;*/
    margin-bottom: 30px;
    text-align:center;
}
.frame{
    max-width: 40em;
  /*  margin: auto;*/
}

label{
    width:100px;
    height:80px;
    display:inline-block;
    text-align:center;
    cursor: pointer;
    background:#e9e9ed;
    border-radius:20px;
    border-style: solid;
    border-width: medium;
    border-color: #8f8f9d;
    margin-right:40px;
}
input[type=color]{
    width:50px;
    height:50px;
    margin-right:40px;
}
input[type=radio]{
    display:none;
}
input[type=range]{
    line-height:28pt;
}
button{
    margin-right:40px;
}
input:checked + label{
    background:#b1b1b9;
    border-color: #8f8f9d;
}
textarea{
    width:1360px;
    font-size:18pt;
    font-family:sans-serif;
}

/* RANGE*/
input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}

